:root{
    background-color: #adadad;
}

p:nth-of-type(2){background-color: #FF0000}
h2:first-child{background-color: #283aff}
div:nth-child(5){background-color: dodgerblue}
#area{
    width: 400px;
    padding: 40px 20px 50px 10px;
    background-color: #99FF66;
    border: 4px solid #283aff;
    border-top: 3px double #ff2085;
    border-right: 2px dotted dodgerblue;
    border-left: 4px solid green;
    border-bottom: 4px dotted red;
    margin: 30px 40px 40px 20px ;
    }
.Area{
    width: 400px;
    padding: 40px 20px 50px 10px;
    background-color: #99FF66;
    border: 4px solid #283aff;
    border-top: 3px double #ff2085;
    border-right: 2px dotted dodgerblue;
    border-left: 4px solid green;
    border-bottom: 4px dotted red;
    margin: 50px 40px 40px 20px ;
}
.Area-span{
    width: 100px;
    padding: 2px 3px 2px 3px;
    background-color: #FF0000;
    font-size: 30px;
    font: caption;

}